<nav class="top">
    <div class="wrap">
        <div class="logo">TypicalBot</div>
        <input type="checkbox" id="mobile">
        <ul>
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">Prime</a></li>
            <li><a href="https://discord.gg/typicalbot">Community</a></li>
            <li><a href="#">Documentation</a></li>
            <li><a href="#" class="button blue"><i class="fab fa-discord"></i> Login</a></li>
        </ul>
        <label class="hamburger" for="mobile"><i class="fa fa-bars"></i></label>
    </div>
</nav>