<nav class="header">
    <div class="wrap">
        <div class="header__logo">TypicalBot</div>
        <input type="checkbox" id="mobile">
        <ul class="header__items">
            <li class="header__item header__item--active"><a href="#">Home</a></li>
            <li class="header__item"><a href="#">Features</a></li>
            <li class="header__item"><a href="#">Prime</a></li>
            <li class="header__item"><a href="https://discord.gg/typicalbot">Community</a></li>
            <li class="header__item"><a href="#">Documentation</a></li>
            <li class="header__item"><a href="https://status.typicalbot.com">Status</a></li>
            <li class="header__item"><a href="#" class="button blue"><i class="fab fa-discord"></i> Login</a></li>
        </ul>
        <label class="hamburger" for="mobile"><i class="fa fa-bars"></i></label>
    </div>
</nav>
