{% extends '_layouts/front.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
	<section class="hero">
        <div class="wrap center">
            <h1 class="light">TypicalBot, far from typical.</h1>
        </div>
        <div id="browser">
            <header>
                <div class="top">
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="bar">
                    <a href="#" class="back">back</a>
                    <a href="#" class="forward">forward</a>
                    <a href="#" class="reload">reload</a>
                    <div class="address" style="background-image: url(img/secure.png);"><span class="secure">https</span><span class="gray">://</span><span>beta.typicalbot.com/demo</span></div>
                </div>
            </header>
            <iframe src="https://beta.typicalbot.com/demo" width="100%" height="100%" frameborder="0"></iframe>
        </div>
    </section>
    <section class="features">
        <div class="wrap">
            <ul class="columns">
                <li class="col-2">
                    <h4><i class="fal fa-chart-line"></i><span>Metrics</span></h4>
                    <p class="subtitle light">We provide real-time analytics about your guild, including the users joined and left, the average message per user and more.</p>
                    <a href="#" class="button blue-line">Read more</a>
                </li>
                <li class="col-2">
                    <h4><i class="fal fa-cogs"></i><span>Customizable</span></h4>
                    <p class="subtitle light">We allow you to efficiently build TypicalBot the way you want it without all the hassle.</p>
                    <a href="#" class="button blue-line">Read more</a>
                </li>
            </ul>
            <ul class="columns">
                <li class="col-2">
                    <h4><i class="fal fa-code"></i><span>Documentation</span></h4>
                    <p class="subtitle light">Every command and setting is well documented with examples.</p>
                    <a href="#" class="button blue-line">Read more</a>
                </li>
                <li class="col-2">
                    <h4><i class="fal fa-usd-square"></i><span>Prime</span></h4>
                    <p class="subtitle light">TypicalBot Prime comes with a unique-set of enhanced features, including filters, webhooks and more.</p>
                    <a href="#" class="button blue-line">Read more</a>
                </li>
            </ul>
        </div>
    </section>
    <section class="statistics">
        <div class="wrap">
            <ul class="columns text-center">
                <li class="col-2">
                    <h4>30,000+</h4>
                    <p class="subtitle light">Commands used per day</p>
                </li>
                <li class="col-2">
                    <h4>20+</h4>
                    <p class="subtitle light">Concurrent voice connections</p>
                </li>
            </ul>
            <ul class="columns text-center">
                <li class="col-3">
                    <h4>58,000+</h4>
                    <p class="subtitle light">Guilds</p>
                </li>
                <li class="col-3">
                    <h4>1,000,000+</h4>
                    <p class="subtitle light">Channels</p>
                </li>
                <li class="col-3">
                    <h4>2,000,000+</h4>
                    <p class="subtitle light">Users</p>
                </li>
            </ul>
        </div>
    </section>
    <section class="get-started">
        <div class="text-center">
            <h2>Ready to get started with TypicalBot?</h2>
            <h4>You're just a few steps away...</h4>
            <p class="links">
                <a href="#" class="button blue-line">Get started</a>
                <a href="https://beta.typicalbot.com/demo" class="button blue-line" target="_blank">Live demo</a>
            </p>
        </div>
    </section>
{% endblock %}