.btn-blue {
    color: white !important;
    background-color: #1976D2;
    margin: 15px auto;
}

.btn-sm {
    opacity: 0.75;
    margin: auto 45px;
}

.donate-h1 {
    margin: 50px 15px;
}

.btn-lg {
    margin: 25px auto;
}

#slider-div {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

@supports (-ms-ime-align: auto) {
    input[type=range]#slider {
        height: 40px;
        background: transparent;
    }
}

#slider {
    width: 100%;
    height: 4px;
    outline: none;
    display: inline-block;
    cursor: pointer;
}

.icon {
    vertical-align: bottom;
    margin-right: 3px;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    background: #999;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]::-ms-track {
    width: 100%;
    background: #999;
    height: 4px !important;
    cursor: pointer;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border: 0.5px solid #999;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}

input[type=range]::-ms-thumb {
    height: 20px;
    width: 20px;
    border: 0.5px solid #999;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}

#perks {
    margin-top: 30px;
}

#perks li {
    list-style: none;
    text-align: left;
    padding-left: 12px;
}

#perks li .fa-check {
    color: #00cc00;
}

#perks li .fa-heart {
    color: #ff3232
}

.fa-heart, .fa-check {
    margin-right: 10px;
}

.hidden {
    display: none;
}
