.btn-blue {
    color: white !important;
    background-color: #00adff;
    margin: 15px auto;
}

.btn-sm {
    opacity: 0.75;
    margin: auto 45px;
}

.donate-h1 {
    margin: 50px 15px;
}

.btn-lg {
    margin: 25px auto;
}

#slider-div {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#slider {
    width: 100%;
    height: 4px;
    background: lightgray;
    outline: none;
    display: inline-block;
}

.icon {
    vertical-align: bottom;
    margin-right: 3px;
}
