.line {
    height: 20px;
    border-radius: 20px;
    background-color:#B7B7B7;
    max-width: 20px;
    max-width: 20px
}
table {
    text-align: center
}
#line-header {
    width: 300px;
}
.state-1 {
    max-width: 300px;
    background-color:#85DC00;
}
.state-2 {
    max-width: 150px;
    background-color:#EBA501;
}
.state-3 {
    max-width: 75px;
    background-color:#EB6E01;
}

@media (max-width: 800px){

    #line-header {
        width: 300px;
    }
    .state-1 {
        max-width: 200px
    }
    .state-2 {
        max-width: 100px;
    }
    .state-3 {
        max-width: 50px;
    }
}
@media (max-width: 550px){
    td.line-container {
        display: none !important;
    }
    #line-header {
        display: none !important;
    }
}
