#landing {
    border-radius: .3rem;
    padding: 10px;
    background-color: white;
    max-width: 80%;
    text-align: center;
    min-height: 90vh;
    margin-top: 50px;
    user-select: none;
    margin-bottom: 30px;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

#landing .buttons {
    position: relative;
    top: 5px;
    left: 10px;
    display: flex;
    flex-direction: row;
}

.button {
    color: white;
    background-color: #1976D2;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7px;
    transition: background-color .2s ease-in-out
}

.mobile-buttons {
    display: none;
}

#landing .buttons .button:hover {
    background-color: #009be5;
    cursor: pointer;
}

#landing .buttons a {
    text-decoration: none
}

#landing img {
    pointer-events: none
}

.top {
    margin-top: -45px;
}

.center .title {
    font-size: 80px;
    color: #1976D2;
}

.center {
    margin-top: 25px;
}

.center .subtitle {
    color: #707070
}

.center .subtitle:nth-of-type(1) {
    margin-bottom: .1rem;
}

a {
    text-decoration: none !important
}

.big-button {
    width: 450px;
    font-size: 50px;
    color: white !important;
    background-color: #1976D2;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px;
    border-radius: 10px;
    transition: background-color .2s ease-in-out
}

#banner {
    box-shadow: rgba(0, 0, 0, 0.16) 2px 1px 6px;
    height: 177px;
    background-color: white;
    margin: 20px auto;
    border-radius: 7px;
    text-align: center;
    max-width: 80%
}

#banner .container {
    padding: 11px;
}

#banner .container h5 {
    font-size: 1.15rem;
}

#banner .big-button {
    margin-top: 22px;
    width: 180px;
    font-size: 20px;
}

.big-button:hover {
    background-color: #009be5;
}

.small-button {
    display: block;
    color: #1976D2 !important;
    font-weight: 450;
    font-size: 25px;
    margin-top: 20px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    transition: color .2s ease-in-out
}

.small-button:hover {
    color: #009be5 !important;
}

.bottom .join-us {
    margin-top: 50px;
    color: #1976D2;
    display: flex;
    width: 135px;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition: color .2s ease-in-out
}

.bottom .join-us i {
    margin-right: 8px;
    font-size: 23px;
}

.bottom .join-us:hover {
    color: #009be5 !important;
}

@media (max-width: 600px) {
    .subtitle {
        font-size: 20px;
    }

    .title {
        font-size: 60px;
    }

    .big-button {
        width: 310px;
        font-size: 45px;
    }

    #banner {
        max-width: 99%;
        height: 254px !important;
    }
    #banner .big-buttons {
        margin-top: 8px;
    }
}

@media (max-width: 1000px) {
    #landing {
        max-width: 99%;
    }

    #banner {
        max-width: 98%;
        height: 214px;
    }

    .top {
        margin-top: 15px
    }

    .buttons {
        display: none !important;
    }

    .join-us {
        display: none !important
    }

    .mobile-buttons {
        margin-top: 50px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: row;
        width: 145px;
        margin-left: auto;
        margin-right: auto;
    }

}

@media (min-width: 1000px) and (max-width: 1500px) {
    #landing {
        max-width: 90% !important
    }

    #banner {
        max-width: 90% !important;
    }
}
