body {
    background-color: #dfdfdf !important;
}
.blue {
    background-color: #00adff;
    color: white;
}
.circle {
    border-radius: 50%;
    height: 64px;
    width: 64px;
    margin-left: auto;
    margin-right: auto;
    line-height: 75px;
    vertical-align: middle;
    margin-bottom: 8px;
}
.circle .tb-small {
    margin-top: -15px;
}
.tb-small {
    height: 48px;
    width: 48px;
}

#background {
    margin-top: 30px;
    height: 2000px;
    background-color: white;
    border-radius: 10px 10px 0 0;
}
@media (min-width: 1600px){
    #background {
        margin-left: 150px;
        margin-right: 150px;
        width: calc(100% - 300px);
    }
}

.doc-category {
    height: 115px;
    text-align: center;
    cursor: pointer;
}
.doc-category.selected {
    cursor: default
}
.doc-category::after {
    opacity: 0;
    content: '';
    position: absolute;
    bottom: -5px;
    height: 8px;
    left: 25%;
    margin-left: -16px;
    width: 75%;
    background: #00adff;
    border-radius: 5px;
}
.doc-category.selected::after {
    opacity: 1;
}

.doc-category:hover::after{
    opacity: 1;
    transition: opacity .2s
}
#background .col-md-1 {
    margin-top: 40px;

}

.divider {
    margin-top: 20px;
    height: 4px;
    width: calc(100% - 250px);
    margin-left: 125px;
    margin-right: 125px;
    background-color: #707070;
    border-radius: 2px;
}
