body {
    background-color: #dfdfdf !important;
}

nav {
    z-index: 1000
}

.blue {
    background-color: #1976D2;
    color: white;
}

.zoom {
    display: none
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.box h5 {
    margin-left: 10px;
}

.col-lg-6.col-md-12.filtered {
    display: none;
    visibility: collapse
}

.circle {
    border-radius: 50%;
    height: 64px;
    width: 64px;
    line-height: 75px;
    vertical-align: middle;
    margin-bottom: 8px;
}

.circle .tb-small {
    margin-top: -15px;
}

.circle .tb-tiny {
    margin-top: -11px;
}

.circle.small {
    height: 40px;
    width: 40px;
    text-align: center;
    margin-top: 4px;
    margin-left: 14px;
    line-height: 48px;
    font-size: 70%;
    margin-bottom: 0;
}

.box {
    text-align: left;
    height: 200px;
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid #707070;
    border-radius: 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.06)
}

.tb-small {
    height: 48px;
    width: 48px;
}

.tb-tiny {
    height: 32px;
    width: 32px;
}

#background {
    margin-top: 30px;
    min-height: 500px;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 30px;
    padding-bottom: 15px;
}

.large-only {
    display: none
}

.scrollable {
    overflow-x: auto;
    overflow-y: hidden;
    height: 115px;
    white-space: nowrap
}

.doc-category {
    height: 115px;
    text-align: center;
    cursor: pointer;
}

.doc-category.selected {
    cursor: default
}

.doc-category::after {
    opacity: 0;
    content: '';
    position: absolute;
    top: 125px;
    height: 5px;
    left: 25%;
    width: 50%;
    background: #1976D2;
    border-radius: 5px;
}

.doc-category.selected::after {
    opacity: 1;
}

.doc-category:hover::after {
    opacity: 1;
    transition: opacity .2s
}

.doc-category h5 {
    color: #5e5e5e;
    margin-top: 20px;
    font-weight: lighter;
    font-size: 1rem
}

#background .col-md-1 {
    margin-top: 40px;
}

.box .divider {
    height: 1px;
    width: 100%;
    margin: 4px 0;
}

.box h4 {
    margin-left: 8px;
    margin-top: 7px
}

.box .highlight.left {
    position: absolute;
    bottom: 10px;
    padding-right: 12px;
    margin-left: 5px;
    height: 30px;
    border-radius: 10px;
    background-color: #F2F2F2;
    display: flex;
}

.return_button {
    display: none;
}

.box .highlight.right {
    position: absolute;
    bottom: 10px;
    right: 40px;
    height: 30px;
    display: flex;
    cursor: pointer
}

.box .highlight .far, .box .highlight .fas {
    margin-top: 5px;
    margin-left: 8px;
    font-size: 1.75em;
    color: #1976D2;
}

.box .highlight span {
    color: #1976D2;
}

.box .highlight h5 {
    margin-left: 10px;
    margin-right: 5px;
    font-size: 19;
}

.box .highlight h5 span {
    color: #1976D2
}

.divider {
    margin-top: 20px;
    height: 4px;
    width: calc(100% - 200px);
    margin-left: 100px;
    margin-right: 100px;
    background-color: #707070;
    border-radius: 2px;
}

.tab-content {
    width: calc(100% - 200px);
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 25px;
}

.tab-pane .row {
    margin-bottom: 25px;
}

.next_button {
    background-color: #1976D2;
    border: none;
    height: 50px;
    width: 150px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

#background.blurred {
    filter: blur(10px);
}

.blurred.active {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: pointer
}

#filter-box {
    width: auto;
    height: 167px;
    border-radius: 10px;
    border: 1px solid;
    margin-bottom: 20px;
}

#filter-box h1 {
    font-weight: bold;
    color: #1976D2;
    margin-left: 11px;
}

#filters .col-lg-1 {
    margin-right: 32px;
}

.doc-filter-button {
    width: 125px;
    height: 100px;
    cursor: pointer
}

.doc-filter-button .filtercircle {
    width: 48px;
    height: 48px;
    font-size: 10px;
    margin-bottom: 1px;
    background: #1976D2;
    color: white;
    padding-top: 13px;
    padding-left: 14px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.fa-scroll {
    margin-left: -3px;
}

.fa-book {
    margin-left: 1px;
}

.fa-user-ninja {
    margin-left: 1px;
}

.fa-microphone {
    margin-left: 2px;
}

.doc-filter-button.filtered .filtercircle {
    background-color: #B7B7B7;
}

.doc-filter-button h5 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 20px;
    color: #5e5e5e
}

.doc-filter-button.filtered h5 {
    color: #b7b7b7
}

.col-lg-6.col-md-12 {
    margin-bottom: 25px;
}

.type-description {
    height: 30px;
    min-width: 100px;
    border-radius: 25px;
    background-color: #F2F2F2;
    margin-right: 10px;
    margin-left: auto;
    margin-top: 9px;
}

.type-description h5 {
    margin-right: 12px;
    margin-left: 10px
}

.type-description .tiny-circle .fa-scroll {
    margin-left: -1px;
}

.type-description .tiny-circle {
    border-radius: 50%;
    background-color: #1976D2;
    width: 30px;
    height: 30px;
    padding-left: 7px;
    padding-top: 2px;
    color: white;
}

.searchBar {
    margin-top: 10px;
    text-align: right;
    padding-right: 104px;
}

.searchBar i {
    margin-right: 6px;
    color: #1976d2
}

.searchBar input {
    border: none;
    border-bottom-color: white;
    font-size: 1.4em;
}

.searchBar input:focus {
    border-bottom: #1976d2 solid 2px !important;
}

.searchResult {
    color: #007bff;
    cursor: pointer;
}
.searchResultContainer {
    display: flex;
    margin-bottom: 20px;
}
.searchResultContainer .circle.blue.small {
    margin-top: 0px;
    margin-right: 20px;
}


/* Media queries */
@media (max-width: 767px) {
    .tab-pane .row {
        margin-bottom: 0;
    }

    .searchBar {
        padding-right: 20px;
    }

    .small-only {
        display: flex !important
    }

    .medium-only {
        display: none !important;
    }

    .large-only {
        display: none !important;
    }

    .large-medium-only {
        display: none !important
    }

    .divider {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .tab-content {
        margin-left: auto;
        margin-left: auto;
        width: 100%
    }

    .box .highlight.left {
        font-size: 12px;
        height: 20px;
    }

    .box .highlight.left .far {
        margin-top: 2px;
    }

    .box .highlight.left h5 {
        font-size: 16px;
    }

    .box .highlight.right {
        display: none
    }

    .fas.small-only {
        margin-left: auto;
        margin-right: 10px;
        margin-top: 15px;
        font-size: 25px;
        color: #1976D2;
    }

    #background {
        margin-top: 10px;
    }

    #icons {
        display: flex;
        width: 106%;
        height: 160px !important;
        overflow-y: hidden;
        overflow-x: auto;
        flex-wrap: nowrap;
        padding-top: 10px !important;
        -webkit-overflow-scrolling: touch;
    }

    #filters {
        display: flex;
        overflow-y: hidden;
        overflow-x: auto;
        flex-wrap: nowrap;
        -webkit-overflow-scrolling: touch;
    }

    #filter-box {
        border: none;
    }

    .doc-category {
        width: 80px;
        flex-shrink: 0;
        height: 100%;
    }

    .col-lg {
        margin-bottom: 25px
    }

    .zoom.active {
        display: block;
        height: 200%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 75px;
        background-color: white;
        border: none;
        border-radius: 10px;
        box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .return_button {
        display: block;
        background-color: #1976D2;
        border: none;
        margin-top: 30px;
        height: 50px;
        width: 150px;
        color: white;
        font-size: 20px;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
    }

    .fas.fa-angle-left.fa-lg.small-only {
        margin-right: 40px;
    }

    .zoom.active .divider {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-top: 5px;
        margin-bottom: 0;
        height: 1px;
        background: #707070
    }

    .zoom.active .circle {
        margin-top: 5px;
    }

    .zoom.active .titlebar {
        display: flex;
    }

    .zoom.active .titlebar h5 {
        font-size: 25px;
        margin-top: 8px;
        margin-left: 6px;
    }

    .code {
        color: #1976D2;
    }

    .description {
        margin-top: 2px;
        padding: 10px;
        padding-left: 20px;
        min-height: 75px;
    }

    .content .row {
        margin: auto 8px;
    }

    .content .row .col {
        min-height: 40px;
        padding: 2px 10px;
    }

    .content .row .col div {
        background: #1976D2;
        color: white;
        border-radius: 5px;
        width: 100%;
        height: 100%;
        padding: 3px 0 0 5px
    }

    .content .row .col-lg-8 {
        min-height: 40px;
        padding: 2px 10px;
    }

    .content .row .col-lg-8 div {
        border-radius: 5px;
        background-color: #f2f2f2;
        width: 100%;
        height: 100%;
        padding: 8px 0 0 5px
    }

    .content .row:last-of-type {
        margin-bottom: 15px;
    }

    .blurred.active {
        background: #dfdfdf;
        cursor: default;
        height: 300%
    }
}

@media (min-width: 767px) and (max-width: 1135px) {
    .tab-pane .row {
        margin-bottom: 0;
    }
    .searchBar {
        padding-right: 20px;
    }
    #filters {
        display: flex !important;
        overflow-y: hidden;
        overflow-x: auto;
        flex-wrap: nowrap;
        -webkit-overflow-scrolling: touch;
    }

    #filters .col-lg-1 {
        margin-left: 40px;
    }

    #filter-box {
        border: none;
    }

    #icons {
        padding-top: 40px;
        display: flex;
        width: 106%;
        height: 200px;
        overflow-y: hidden;
        overflow-x: auto;
        flex-wrap: nowrap;
        -webkit-overflow-scrolling: touch;
    }

    #icons .col-lg-1 {
        padding-left: 10px;
        padding-right: 10px
    }

    .divider {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .doc-category {
        width: 80px;
        flex-shrink: 0;
        height: 100%;
    }

    .tab-content {
        margin-left: 2px;
        margin-right: 2px;
        width: 100%;
    }

    .tab-content .row {
        display: block
    }

    .tab-content #settings_tab .col-lg-6 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-lg {
        margin-bottom: 25px;
    }

    .tab-pane .row {
        margin-bottom: 0;
    }

    .box .highlight.right {
        background-color: #f2f2f2;
        color: #1976D2;
        border-radius: 5px;
    }

    .box .highlight.right .fas {
        margin-left: 0;
    }

    .medium-only {
        display: flex !important
    }

    .large-medium-only {
        display: flex !important
    }

    .small-only {
        display: none !important
    }

    .zoom.active {
        display: block;
        height: calc(100% - 40px);
        width: 100%;
        position: absolute;
        left: 0;
        top: 75px;
        background-color: white;
        border: none;
        border-radius: 10px;
        box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .return_button {
        display: block;
        background-color: #1976D2;
        border: none;
        margin-top: 30px;
        height: 50px;
        width: 150px;
        color: white;
        font-size: 20px;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
    }

    .zoom.active .divider {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-top: 5px;
        margin-bottom: 0;
        height: 1px;
        background: #707070
    }

    .zoom.active .circle {
        margin-top: 5px;
    }

    .zoom.active .titlebar {
        display: flex;
    }

    .zoom.active .titlebar h5 {
        font-size: 25px;
        margin-top: 8px;
        margin-left: 6px;
    }

    .code {
        color: #1976D2;
    }

    .description {
        margin-top: 2px;
        padding: 10px;
        padding-left: 20px;
        min-height: 75px;
    }

    .content .row {
        margin: auto 8px;
    }

    .content .row .col {
        min-height: 40px;
        padding: 2px 10px;
    }

    .content .row .col div {
        border-radius: 5px;
        background-color: #f2f2f2;
        width: 100%;
        height: 100%;
        padding: 3px 0 0 5px
    }

    .content .row .col-lg-8 {
        min-height: 40px;
        padding: 2px 10px;
    }

    .content .row .col-lg-8 div {
        border-radius: 5px;
        background-color: #f2f2f2;
        width: 100%;
        height: 100%;
        padding: 8px 0 0 5px
    }

    .content .row:last-of-type {
        margin-bottom: 15px;
    }
}

@media (min-width: 1136px) {
    .box {
        margin-left: 0;
        margin-right: 0;
    }

    .large-only {
        display: none !important
    }

    .small-only {
        display: none !important
    }

    #background {
        padding-top: 10px;
    }

    .zoom.active {
        display: block;
        min-height: 320px;
        min-width: 1000px;
        position: absolute;
        left: calc(50% - 500px);
        top: 115px;
        background-color: white;
        border: none;
        border-radius: 10px;
        box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .zoom.active .divider {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-top: 5px;
        margin-bottom: 0;
        height: 1px;
        background: #707070
    }

    .zoom.active .circle {
        margin-top: 5px;
    }

    .zoom.active .titlebar {
        display: flex;
    }

    .zoom.active .titlebar h5 {
        font-size: 25px;
        margin-top: 8px;
        margin-left: 6px;
    }

    .code {
        color: #1976D2;
    }

    .description {
        margin-top: 2px;
        padding: 10px;
        padding-left: 20px;
        min-height: 75px;
    }

    .content .row {
        margin: auto 8px;
    }

    .content .row .col {
        min-height: 40px;
        padding: 2px 10px;
    }

    .content .row .col div {
        border-radius: 5px;
        background-color: #f2f2f2;
        width: 100%;
        height: 100%;
        padding: 3px 0 0 5px
    }

    .content .row .col-lg-8 {
        min-height: 40px;
        padding: 2px 10px;
    }

    .content .row .col-lg-8 div {
        border-radius: 5px;
        background-color: #f2f2f2;
        width: 100%;
        height: 100%;
        padding: 8px 0 0 5px
    }

    .content .row:last-of-type {
        margin-bottom: 15px;
    }
}

@media (min-width: 1600px) {
    #background {
        padding-top: 20px;
        margin-left: 150px;
        margin-right: 150px;
        width: calc(100% - 300px);
    }

    .large-medium-only {
        display: flex !important
    }

    .large-only {
        display: flex !important;
    }

    .medium-only {
        display: none !important;
    }

    .small-only {
        display: none !important;
    }

    .highlight .right .large-only {
        display: block;
        padding-left: 8px;
    }

    .box .highlight.right {
        background-color: #f2f2f2;
        color: #1976D2;
        border-radius: 5px;
    }

    .box .highlight .fas {
        margin-left: 2px !important
    }

    .tab-content {
        width: calc(100% - 200px);
        margin-left: 100px;
        margin-right: 100px;
    }

    .zoom.active {
        display: block;
        min-height: 320px;
        min-width: 1000px;
        position: absolute;
        left: calc(50% - 500px);
        top: 115px;
        background-color: white;
        border: none;
        border-radius: 10px;
        box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .zoom.active .divider {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-top: 5px;
        margin-bottom: 0;
        height: 1px;
        background: #707070
    }

    .zoom.active .circle {
        margin-top: 5px;
    }

    .zoom.active .titlebar {
        display: flex;
    }

    .zoom.active .titlebar h5 {
        font-size: 25px;
        margin-top: 8px;
        margin-left: 6px;
    }

    .code {
        color: #1976D2;
    }

    .description {
        margin-top: 2px;
        padding: 10px;
        padding-left: 20px;
        min-height: 75px;
    }

    .content .row {
        margin: auto 8px;
    }

    .content .row .col {
        min-height: 40px;
        padding: 2px 10px;
    }

    .content .row .col div {
        border-radius: 5px;
        background-color: #f2f2f2;
        width: 100%;
        height: 100%;
        padding: 3px 0 0 5px
    }

    .content .row .col-lg-8 {
        min-height: 40px;
        padding: 2px 10px;
    }

    .content .row .col-lg-8 div {
        border-radius: 5px;
        background-color: #f2f2f2;
        width: 100%;
        height: 100%;
        padding: 8px 0 0 5px
    }

    .content .row:last-of-type {
        margin-bottom: 15px;
    }
}
